.post-preview h2 {color:rgb(0,30,10);}
h3 {color:rgb(0,30,10);}
p{font-family: 'Eczar', serif;
font-weight: 500;}
.post-meta p{font-family: 'Eczar', serif;
font-weight: 500;}
.cita p{font-family: 'Eczar', serif;
font-weight: 400;}
